{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home - StartupCrate{% endblock %}

{% block style %}
    <style>
        .green {
            background: #96c061;
        }
        .green-text {
            color: #96c061;
        }
        .green-border {
            border: #96c061 solid 4px;
        }
        .blue-text {
            color: #45b1e2;
        }
        .blue-border {
            border: #45b1e2 solid 4px;
        }
        .content-section {
            padding: 64px 0;
        }
        .section-title {
            font-size: 44px;
        }
        .section-footer {
            margin-top: 64px;
        }
        .button-container {
            padding: 8px;
        }
        .wide-button {
            width: 90%;
            font-weight: bold;
        }
        .step-div {
            margin: 32px 8px 8px 8px;
            padding: 16px;
        }
        .step-graphic {
            position: relative;
            height: 128px;
            width: 128px;
            margin: 0 auto;
            border-radius: 50%;
        }
        .step-number {
            font-size: 80px;
        }
        .step-icon {
            position: absolute;
            top: 0;
            right: 0;
            padding: 8px;
            color: white;
            font-size: 18px;
            border-radius: 50%;
        }
        .crate-card {
            margin: 32px 8px 8px 8px;
            padding: 16px;
            background: white;
            border-radius: 4px;
        }
        .crate-img {
            margin: 32px 0;
        }
        .crate-price {
             font-weight: bold;
        }
        .value {
            font-size: 24px;
            margin-left: 8px;
        }
        .units {
            font-size: 12px;
        }
        #content-header {
            background: #ffffff url({% static 'img/backdrop.png' %}) no-repeat center top;
        }
        #content-header .section-title {
            padding: 256px 0 32px 0;
        }
        #content-choose {
            background: lightgray;
        }
        #countdown {
            margin-top:256px;
            padding: 8px;
            background: rgba(0, 0, 0, 0.5);
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content-header" class="row dark-content">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4">
            <div class="section-title">A monthly box of startup goodies.</div>
        </div>
        <div class="button-container col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-2">
            <a class="wide-button green btn btn-success" href="#content-choose">GET STARTED</a>
        </div>
        <div class="button-container col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-2">
            <a class="wide-button blue btn btn-primary" href="#content-choose">GIVE A GIFT</a>
        </div>
        <div id="countdown" class="col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-xs-offset-0 col-xs-12 col-sm-offset-3 col-sm-3">
                    <h4>Countdown to next startup crate:</h4>
                </div>
                <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-3">
                    <strong class="value" id="days">0</strong><span class="units">days</span>
                    <strong class="value" id="hours">0</strong><span class="units">hours</span>
                    <strong class="value" id="minutes">0</strong><span class="units">minutes</span>
                </div>
            </div>
        </div>
    </div>
    <div id="content-how" class="row content-section">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
            <div class="section-title">How It Works</div>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-3">
            <div class="step-div">
                <div class="step-graphic blue-text blue-border">
                    <span class="step-number">1</span>
                    <span class="step-icon blue glyphicon glyphicon-duplicate"></span>
                </div>
                <h1>Choose Your Plan</h1>
                <h3>1 and 3 month plans are available. You can cancel anytime. Shipping not included.</h3>
            </div>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3">
            <div class="step-div">
                <div class="step-graphic green-text green-border">
                    <span class="step-number">2</span>
                    <span class="step-icon green glyphicon glyphicon-ok"></span>
                </div>
                <h1>Receive Your Startup Crate</h1>
                <h3>Startup crates are shipped on the 25th of every month, filled with startup goodies!</h3>
            </div>
        </div>
        <div class="section-footer button-container col-xs-offset-1 col-xs-10 col-sm-offset-5 col-sm-2">
            <a class="wide-button blue btn btn-primary" href="#content-choose">GET STARTED</a>
        </div>
    </div>
    <div id="content-choose" class="row content-section">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
            <div class="section-title">Choose Your Startup Crate</div>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-3">
            <div class="crate-card">
                <h1>1 Month Plan</h1>
                <div class="crate-price blue-text">
                    <span class="value" id="days">$15.95</span><span class="units">/mo + $5 S/H</span>
                </div>
                <img class="crate-img" src="{% static 'img/1month.png' %}">
                <a class="wide-button blue btn btn-primary">SELECT CRATE</a>
            </div>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3">
            <div class="crate-card">
                <h1>3 Month Plan</h1>
                <div class="crate-price blue-text">
                    <span class="value" id="days">$14.25</span><span class="units">/mo + $5 S/H</span>
                </div>
                <img class="crate-img" src="{% static 'img/3month.png' %}">
                <a class="wide-button blue btn btn-primary">SELECT CRATE</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block execute %}
    <script src="{% static 'js/countdown.min.js' %}"></script>
    <script>
        $(function() {
            var date = new Date();
            date.setDate(25);
            date.setHours(12, 0, 0, 0);
            countdown(date, function(ts) {
                console.log(ts);
                $('#days').html(ts.days);
                $('#hours').html(ts.hours);
                $('#minutes').html(ts.minutes);
            }, countdown.DAYS|countdown.HOURS|countdown.MINUTES);
        });
    </script>
{% endblock %}